.tagger{
    background-color: #fff;
    border:1px solid #f0f0f0;
    padding: 5px;
    width:100%;
}

.tagger::after{
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
}

.tagger input[type="text"]{
    background-color: #fff;
    border:none;
    outline: none;
    padding:10px;
    float: left;
    max-width: 50px;
}

.tagger .tag{
    background-color: #2E86C1;
    padding:10px;
    color:#fff;
    float: left;
    width:auto;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
}

.tagger .tag:hover{
    background-color: lightblue
}

.tagger .tag span{
    margin-right:10px;
}

.tagger .tag i{
    cursor: pointer;
    background-color: rgba(0,0,0,.15);
    padding:3px;
    border-radius: 3px;
}

.tagger .tag i:hover{
    background-color: rgba(0,0,0,.25);
}

/* Chooser */
.chooser{
    background-color: #fff;
    border: 1px solid #f3f3f3;
    padding: 5px;
    width:100%;
}

.chooser .choosed{
    background-color: #2E86C1;
    padding:10px;
    color:#fff;
    width:100%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
}
