.cari{
    padding: 0;
    display: table;
}

.cari input[type="text"]{
    border: none;
    display: table-cell;
    width:90%
}

.cari input[type="text"],
.cari button{
    padding:20px;
    font-size: 15px;
    box-sizing: border-box;
}

.cari button{
    display: table-cell;
    background-color: transparent;
    border: none;
    width: 10%;
}
