.card-content.no-padding{
  padding: 0;
}

.table{
    margin-top: 20px;
}

.table th,
.table td{
    padding: 10px !important;
}

.table thead tr{
    background-color:#f5f5f5;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.table tr{
    border-left: 5px solid transparent;
}

.table tr.active{
    border-left: 5px solid #2E86C1;
}

.table tr.expand{
    border-left:5px solid #2E86C1;
    display: none;
}

.table tr.expand:hover{
    background-color:transparent;
}

@media only screen and (max-width:768px) {
    .content{
        padding: 0 !important;
        margin-top: 60px !important;
    }
    .navbar{
        padding:0;
    }
    .navbar-toggle{
        margin-top:0;
    }
}
